/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Obsidian Add-On                                                                                                    ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ CreArts Folder-Description                                                              ║ */
/* ║ Version:                 ║ 1.0.0                                                                                   ║ */
/* ║ Author:                  ║ Corellan                                                                                ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Folder Highlight         ║ Variables                                                                               ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  --folder-highlight-transition: 0.1s;

/* Highlight 1 */
--folder-highlight-1-color: var(--text-muted);
--folder-highlight-1-color-hover: white;
--folder-highlight-1-background: #303445;
--folder-highlight-1-background-hover: rgba(205, 9, 81, 0.100);


/* Header 2 */
--folder-highlight-2: "Private";
--folder-highlight-2-color: var(--text-muted);
--folder-highlight-2-color-hover: white;
--folder-highlight-2-background: #303445;
--folder-highlight-2-background-hover: rgba(9, 205, 133, 0.100);

/* Header 3 */
--folder-highlight-3: "Public";
--folder-highlight-3-color: var(--text-muted);
--folder-highlight-3-color-hover: white;
--folder-highlight-3-background: #303445;
--folder-highlight-3-background-hover: rgba(97, 136, 255, 0.100);

/* Header 4 */
--folder-highlight-4: "Assets";
--folder-highlight-4-color: var(--text-muted);
--folder-highlight-4-color-hover: white;
--folder-highlight-4-background: #303445;
--folder-highlight-4-background-hover: rgba(176, 97, 255, 0.100);

/* Header 5 */
--folder-highlight-5: "Other";
--folder-highlight-5-color: var(--text-muted);
--folder-highlight-5-color-hover: white;
--folder-highlight-5-background: #303445;
--folder-highlight-5-background-hover: #303445;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Folder Highlight         ║ General                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Background */
.tree-item-children .nav-folder-children {
  border-radius: 8px;
  border: none !important;
  transition: background-color var(--folder-highlight-transition) ease;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Folder Highlight         ║ Highlight 1                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Item 1 */
[data-path="1 Notes"] + .nav-folder-children {
  background-color: var(--folder-highlight-1-background) !important;
}

.nav-files-container:hover [data-path="1 Notes"] + .nav-folder-children {
  background-color: var(--folder-highlight-1-background-hover) !important;
}

/* Item 2 */
[data-path="2 Bookmarks"] + .nav-folder-children {
  background-color: var(--folder-highlight-1-background) !important;
}

.nav-files-container:hover [data-path="2 Bookmarks"] + .nav-folder-children {
  background-color: var(--folder-highlight-1-background-hover) !important;
}

/* Item 3 */
[data-path="3 Tasks"] + .nav-folder-children {
  background-color: var(--folder-highlight-1-background) !important;
}

.nav-files-container:hover [data-path="3 Tasks"] + .nav-folder-children {
  background-color: var(--folder-highlight-1-background-hover) !important;
}


/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Folder Highlight         ║ Highlight 2                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Item 4 */
[data-path="4 Personal"] + .nav-folder-children {
  background-color: var(--folder-highlight-2-background) !important;
}

.nav-files-container:hover [data-path="4 Personal"] + .nav-folder-children {
  background-color: var(--folder-highlight-2-background-hover) !important;
}

/* Item 5 */
[data-path="5 Study"] + .nav-folder-children {
  background-color: var(--folder-highlight-2-background) !important;
}

.nav-files-container:hover [data-path="5 Study"] + .nav-folder-children {
  background-color: var(--folder-highlight-2-background-hover) !important;
}

/* Item 6 */
[data-path="6 Work"] + .nav-folder-children {
  background-color: var(--folder-highlight-2-background) !important;
}

.nav-files-container:hover [data-path="6 Work"] + .nav-folder-children {
  background-color: var(--folder-highlight-2-background-hover) !important;
}


/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Folder Highlight         ║ Highlight 3                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Item 7 */
[data-path="7 Knowledge"] + .nav-folder-children {
  background-color: var(--folder-highlight-3-background) !important;
}

.nav-files-container:hover [data-path="7 Knowledge"] + .nav-folder-children {
  background-color: var(--folder-highlight-3-background-hover) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Folder Highlight         ║ Highlight 4                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Item 7 */
[data-path="8 Resources"] + .nav-folder-children {
  background-color: var(--folder-highlight-4-background) !important;
}

.nav-files-container:hover [data-path="8 Resources"] + .nav-folder-children {
  background-color: var(--folder-highlight-4-background-hover) !important;
}

/* Item 8 */
[data-path="9 Templates"] + .nav-folder-children {
  background-color: var(--folder-highlight-4-background) !important;
}

.nav-files-container:hover [data-path="9 Templates"] + .nav-folder-children {
  background-color: var(--folder-highlight-4-background-hover) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Folder Highlight         ║ Highlight 5                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Item 7 */
.tree-item-children .nav-folder-children {
  background-color: var(--folder-highlight-5-background);
}

.nav-files-container:hover .tree-item-children .nav-folder-children {
  background-color: var(--folder-highlight-5-background-hover);
}