
@settings
name: ☁️ Alphabetized List - Version 1
id: atx-alv1
settings:
-
    id:                     atx-alv1-cat-general
    title:                  'Appearance'
    description:            'General appearance settings'
    type:                   heading
    level:                  1
    collapsed:              true


-
        id:                 atx-alv1-general-about
        title:              ''
        description:        "<br /><br /><h1>General</h1>General settings not categorized anywhere else."
        type:               info-text
        markdown:           true
-
        id:                 atx-alv1-general-container-padding
        title:              'Container Padding'
        description:        'Amount of padding between edge of tags and note width'
        type:               variable-number-slider
        default:            20
        format:             px
        min:                0
        max:                50
        step:               1
-
        id:                 atx-alv1-general-line-spacing
        title:              'Height between tag on each row'
        description:        'Font size for header description text.'
        type:               variable-number-slider
        default:            15
        format:             px
        min:                0
        max:                30
        step:               1







-
        id:                 atx-alv1-tags-about
        title:              ''
        description:        "<br /><br /><h1>Tags</h1>Settings for customizing tags."
        type:               info-text
        markdown:           true
-
        id:                 atx-alv1-tags-font-face
        title:              'Font Face'
        description:        'Font for tags'
        type:               variable-text
        default:            'sans-serif'
-
        id:                 atx-alv1-tags-font-clr-h
        title:              'Font Color (Hover)'
        description:        'Color of tag text when tag is hovered.'
        type:               variable-themed-color
        opacity:            true
        format:             hex
        default-light:      '#FFFFFF'
        default-dark:       '#FFFFFF'
-
        id:                 atx-alv1-tags-font-weight-n
        title:              'Font Weight (Normal)'
        description:        'Options: normal, bold, lighter, bolder'
        type:               variable-text
        default:            normal
-
        id:                 atx-alv1-tags-font-weight-h
        title:              'Font Weight (Hover)'
        description:        'Options: normal, bold, lighter, bolder'
        type:               variable-text
        default:            normal
-
        id:                 atx-alv1-tags-spacing-internal
        title:              'Spacing (Internal)'
        description:        'Spacing between left and right of tag text and edge of each container'
        type:               variable-number-slider
        default:            5
        format:             px
        min:                0
        max:                30
        step:               1
-
        id:                 atx-alv1-tags-spacing-external
        title:              'Spacing (External)'
        description:        'Spacing between each container box'
        type:               variable-number-slider
        default:            7
        format:             px
        min:                0
        max:                30
        step:               1


-
        id:                 atx-alv1-tabs-about
        title:              ''
        description:        "<br /><br /><h1>Tabs</h1>Settings for each clickable tab which contains your list of pages inside."
        type:               info-text
        markdown:           true
-
        id:                 atx-alv1-tabs-header-bg-clr-n
        title:              'Header Background Color (Normal)'
        description:        'Background color for each tab. This is where the letter of the alphabet is shown.'
        type:               variable-themed-color
        opacity:            true
        format:             hex
        default-light:      '#1b1b1b'
        default-dark:       '#1b1b1b'
-
        id:                 atx-alv1-tabs-header-bg-clr-h
        title:              'Header Background Color (Hover)'
        description:        'Background color (on hover) for each tab. This is where the letter of the alphabet is shown.'
        type:               variable-themed-color
        opacity:            true
        format:             hex
        default-light:      '#8f2045'
        default-dark:       '#8f2045'
-
        id:                 atx-alv1-tabs-header-bg-clr-s
        title:              'Header Background Color (Selected)'
        description:        'Background color (selected) for each tab. This is where the letter of the alphabet is shown.'
        type:               variable-themed-color
        opacity:            true
        format:             hex
        default-light:      '#7c1236'
        default-dark:       '#7c1236'
-
        id:                 atx-alv1-tabs-icon-svg-n
        title:              'Header Icon (Normal)'
        description:        'The svg icon to use for left side of tab in normal state'
        type:               variable-text
        default:            url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='15px' height='15px' fill='%23FFFFFF'%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d='M438.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L370.7 256 233.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z'%3E%3C/path%3E%3Cpath class='fa-secondary' d='M338.7 224L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0 32-32-32-32z'%3E%3C/path%3E%3C/svg%3E" );
-
        id:                 atx-alv1-tabs-icon-svg-s
        title:              'Header Icon (Selected)'
        description:        'The svg icon to use for left side of tab in selected state'
        type:               variable-text
        default:            url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' width='15px' height='15px' fill='%23FFFFFF'%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d='M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 402.7 54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'%3E%3C/path%3E%3Cpath class='fa-secondary' d='M160 370.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V370.7l-32 32-32-32z'%3E%3C/path%3E%3C/svg%3E" );

-

        id:                 atx-alv1-tabs-bg-size
        title:              'Circle Size'
        description:        'Size of counter circle'
        type:               variable-number-slider
        default:            18
        format:             px
        min:                5
        max:                30
        step:               1
-
        id:                 atx-alv1-tabs-font-face
        title:              'Font Face'
        description:        'Fonts except from the code texts'
        type:               variable-text
        default:            'sans-serif'
-
        id:                 atx-alv1-tabs-font-clr-n
        title:              'Font Color'
        description:        'Color of tag text when tag is hovered.'
        type:               variable-themed-color
        opacity:            true
        format:             hex
        default-light:      '#FFFFFF'
        default-dark:       '#FFFFFF'
-
        id:                 atx-alv1-tabs-font-size
        title:              'Font Size'
        description:        'Font size for counter'
        type:               variable-number-slider
        default:            10
        format:             px
        min:                5
        max:                30
        step:               1
-
        id:                 atx-alv1-tabs-font-weight
        title:              'Font Weight'
        description:        'Options: normal, bold, lighter, bolder'
        type:               variable-text
        default:            normal


-


    id:                     atx-alv1-cat-anim
    title:                  'Animations'
    description:            'Animation settings'
    type:                   heading
    level:                  1
    collapsed:              true
-
        id:                 atx-alv1-cat-anim-1
        title:              'Glow Animation'
        description:        'Play glow animation when hovering tag'
        type:               class-select
        allowEmpty:         false
        default:            anim-1-enabled
        options:
        -
            label: Enabled
            value: anim-1-enabled
        -
            label: Disabled
            value: anim-1-disabled
-


    id:                     atx-alv1-cat-support
    title:                  'Support'
    description:            'Links associated to this snippet'
    type:                   heading
    level:                  1
    collapsed:              true
-
    id:                     atx-alv1-support-updates
    title:                  View Updates
    description:            "[https://github.com/Aetherinox/obsidian-dataview-snippets](https://github.com/Aetherinox/obsidian-dataview-snippets)"
    type:                   info-text
    markdown:               true
-

*/

    /*
        Import
    */

        @import url( http://fonts.googleapis.com/css?family=Open+Sans );

    /*
        @patch  : Blue Topaz Theme

        original Blue Topaz theme overrides animations to links.
        set transition to none and define our animations further down.
    */

        :is( .markdown-preview-view,.markdown-rendered ) a:hover
        {
            transition                              : none;
        }

    /*
        Snippet: Alphabetized List - Version 1
    */

        body
        {
            --atx-alv1-anim-1-glow:                     atx-alv1-anim-glow;

            --atx-alv1-general-line-spacing:            15px;
            --atx-alv1-general-container-padding:       20px;

            --atx-alv1-tags-font-face:                  sans-serif;
            --atx-alv1-tags-font-weight-n:              normal;
            --atx-alv1-tags-font-weight-h:              normal;
            --atx-alv1-tags-spacing-internal:           5px;
            --atx-alv1-tags-spacing-external:           7px;



            --atx-alv1-tabs-header-bg-clr-n             : #1b1b1b;
            --atx-alv1-tabs-header-bg-clr-h             : #8f2045;
            --atx-alv1-tabs-header-bg-clr-s             : #7c1236;

            --atx-alv1-tabs-icon-svg-n                  : url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='15px' height='15px' fill='%23FFFFFF'%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d='M438.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L370.7 256 233.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z'%3E%3C/path%3E%3Cpath class='fa-secondary' d='M338.7 224L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0 32-32-32-32z'%3E%3C/path%3E%3C/svg%3E" );


            --atx-alv1-tabs-icon-svg-s                  : url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' width='15px' height='15px' fill='%23FFFFFF'%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d='M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 402.7 54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'%3E%3C/path%3E%3Cpath class='fa-secondary' d='M160 370.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V370.7l-32 32-32-32z'%3E%3C/path%3E%3C/svg%3E" );

        }

    /*
        Settings > Animations
    */

        body.theme-light.anim-1-disabled,
        body.theme-dark.anim-1-disabled
        {
            --atx-alv1-anim-1-glow      : none !important;
        }
        
        body.theme-light.anim-1-enabled,
        body.theme-dark.anim-1-enabled
        {
            --atx-alv1-anim-1-glow      : atx-alv1-anim-glow;
        }

    /*
        animation: glow
    */

        @keyframes atx-alv1-anim-glow
        {
            from
            {
                box-shadow             : 0 0 30px rgba(230, 0, 115, 0.05), 0 0 40px rgba(230, 0, 115, 0.29), 0 0 50px rgba(230, 0, 115, 0.05), 0 0 60px rgba(230, 0, 115, 0.05), 0 0 70px rgba(230, 0, 115, 0.29), 0 0 80px rgba(230, 0, 115, 0.39), 0 0 90px rgba(230, 0, 115, 0.05);
            }
            to
            {
                box-shadow             : 0 10px 0px rgba(230, 0, 115, 0.05), 0 0 10px rgba(230, 0, 115, 0.05), 0 0 20px rgba(230, 0, 115, 0.19), 0 0 30px rgba(230, 0, 115, 0.05), 0 0 40px rgba(230, 0, 115, 0.05), 0 0 50px rgba(230, 0, 115, 0.39), 0 0 60px rgba(230, 0, 115, 0.05);
            }
        }

    /*
        animation: blink
    */
        
        @keyframes atx-alv1-anim-blink
        {
            0%
            {
                opacity                 : 0.70;
            }
            50%
            {
                opacity                 : 1;
            }
            100%
            {
                opacity                 : 0.70;
            }
          }


    /*
        Dataview parent div
    */

        .atx-alv1-dataview
        {
            border-radius               : 6px;
            border                      : 1px dashed #831b3d;
            width                       : var( --atx-blv1-bg-width );
            padding                     : 5px;
            margin                      : 0 auto;
        }

    /*
        Tab > Padding
    */

        details
        {
            padding-bottom              : 4px;
        }

        details[ open ]
        {
            margin-bottom               : 4px;
        }

    /*
        Tab > Open > Container padding
    */

        details[ open ] summary ~ *
        {
            padding-top                 : 10px;
            padding-left                : 40px;
            padding-bottom              : 10px;
        }

    /*
        Tab > Normal
    */

        details summary
        {
            cursor                      : pointer;
            transition                  : all ease-in-out 0.3s;
            font-weight                 : bold;
            background-color            : var( --atx-alv1-tabs-header-bg-clr-n );
            user-select                 : none;
            font-size                   : 22px;
        }

    /*
        Tab > Hover
    */

        details summary:hover
        {
            background-color            : var( --atx-alv1-tabs-header-bg-clr-h );
            animation                   : atx-alv1-anim-blink 1s infinite;
        }

    /*
        Tab > Closed
    */

        details > summary
        {
            list-style-image            : var( --atx-alv1-tabs-icon-svg-n );
            padding-left                : 20px;
            padding-top                 : 4px;
        }

    /*
        Tab > Open
    */

        details[ open ] > summary
        {
            list-style-image            : var( --atx-alv1-tabs-icon-svg-s );
            padding-left                : 20px;
            padding-top                 : 4px;
        }

    /*
        Tab > Marker
    */

        details summary::marker
        {
            padding-left                : 10px;
            margin-left                 : 20px;
        }

    /*
        Tab > Arrow [old] > Closed

        this was utilized when the tab arrow icon was originally defined using a background image.
        keep this for now in case its needed.
    */

        details summary::before
        { 
            content                     : ""; 
            padding-left                : 8px;
            background-position         : 4px 4px;
            background-repeat           : no-repeat;
        }

    /*
        Tab > Arrow [old] > Open

        this was utilized when the tab arrow icon was originally defined using a background image.
        keep this for now in case its needed.
    */

        details[ open ] summary::before
        {
            content                     : ""; 
            padding-left                : 8px;
            background-position         : 4px 4px;
            background-repeat           : no-repeat;
        }

        details[ open ]
        {
            padding-bottom              : 10px;
        }
        
        details[ open ] summary
        {
            border-bottom               : 1px dashed #f73877;
            user-select                 : none;
            margin-bottom               : 5px;
            background-color            : var( --atx-alv1-tabs-header-bg-clr-s );
        }

        details[ open ] ul
        {
            background-color            : #272727;
            margin-block-start          : -2px;
            margin-block-end            : -10px;
            animation-name              : var( --atx-alv1-anim-1-glow );
            animation-duration          : 1s;
            animation-timing-function   : ease-in-out;
            animation-iteration-count   : infinite;
            animation-direction         : alternate;
        }



        
        details[ open ] ul li a.internal-link
        {
            color                       : #f73877 !important;
        }

    /*
        List
    */

        details ul li a.internal-link:hover
        {
            background                  : none;
            color                       : #FFF !important;
        }
